.content {
  margin: 2% 0px 0px;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.webContent {
  padding: 0%;
  display: flex;
  flex-direction: row;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 2vw;
  width: 60%
    /* Optional, for some spacing around the container */
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 1vh 9vw;
  justify-content: space-between;
}
.place .principle{
  padding:12%;
}
.principle{
  text-align: center;
 align-self: end;
}
.textContent {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 100%;
  padding: 1% 2% 1% 2%;
}

.paragraph {
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
  word-wrap: break-word;
  overflow: hidden;
}

.imageContainer {
  display: flex;
  padding: 2vw;
  width: 60%;
  flex: 1;
  /* Allows the image container to grow and fill space */
  position: relative;
  /* Required for next/image to work */
}

.image {
  max-width: 100%;
  height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .mainContent {
    gap: 0.5rem;
    /* Adjust gap between paragraphs on smaller screens */
  }

  .paragraph {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .paragraph {
    font-size: 0.8rem;
  }
}