.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 4vh;
}

.headercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 2px 0px;
}

.imagecontainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
}

.image {
  margin: 0px 0px 0px 0px;
  width: 10vw;
  max-width: 142px;
  height: auto;
}

.headerTitle {
  padding: 1%;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 1vw;
}

.headerTitle .headerBrand {
  font-size: 2.5vw;
  margin: 0px 0px 7px 0px;
  white-space: nowrap;
  text-decoration: none;
}

.headerTitle .headerDescription {
  font-size: 1.5vw;
  margin: 0;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .image {
    width: 9vw;
  }

  .headerTitle .headerBrand {
    font-size: 2vw;
  }
}

@media (max-width: 480px) {
  .image {
    width: 10vw;
  }

  .headerTitle .headerBrand {
    font-size: 2.5vw;
  }

  .headerTitle .p {
    font-size: 14px;
  }

  .nav .navul {
    justify-content: flex-end;
    padding-left: 35vw
  }

  .navLi {
    font-size: 2vw;
  }

  .navul .navLi .a {
    font-size: 2.5vw;
  }

}

.nav {
  padding: 0rem;
}

.navul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navLi {
  width: fit-content;
  text-align: center;
  border-radius: 0.162rem;
  background-color: #4195f0;
  padding: 1vh 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 2%;
}

 .a  {
  font-size: 2vw;
  padding: 1px;
  display: block;
  white-space: nowrap;
  /* prevent text wrapping */
  overflow: hidden;
  /* prevent text overflow */
  text-overflow: ellipsis;
  /* add ellipsis if text is too long */
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(211, 204, 204, 0.031);
}
.nav .a:hover {
  color: black;
  background-color: rgba(239, 239, 239, 0.973);
}

.dropdownBtn {
  position: relative;
}

.dropContent {
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  background-color: rgb(65, 149, 240);
  min-width: 160px;
  z-index: 1;
  width: auto;
  display:none;
  border-radius: 0.172rem;
}
.dropContent li {
  text-align: left;
  margin: 1vh 1wh;
}
.dropContent .dropa{
  display: block;
  text-align: left;
  margin: 1%;
  padding: 2%;

  font-size: 2vw;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(211, 204, 204, 0.031);
}

.dropdownBtn:hover .dropContent {
  display: block;
  .dropa :hover {
    background-color: #57ffc1d4;
    color: aqua;
    font-size: 12%;
  }
}



/*
.dropContent li {
   styles for the li elements inside the dropdown content ul
  margin-bottom: 10px;
}

.dropContent li:last-child {
  margin-bottom: 0;
}


.dropContent li {
  display: block;
}

.dropContent li a {
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.nav .a {
  color: #fff;
  font-size: 2vw;

}

.nav .a:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}


.header .nav a:last-child {
  margin-right: 0;
}

.nav .a[class*="active"] :hover {
  color: white;
  background-color: black;
  border: 1px solid black;
  text-decoration: underline;

}

.nav .a[class*="active"] {
  text-decoration: underline;
  color: black;

  background-color: white;
}
  
 */