.navpc{
  display: none;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 4vh;
}

.headercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 2px 0px;
}

.imagecontainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0px;
}

.image {
  margin: 0px 0px 0px 0px;
  width: 10vw;
  max-width: 142px;
  height: auto;
}

.headerTitle {
  padding: 1%;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 1vw;
}

.headerTitle .headerBrand {
  font-size: 2.5vw;
  margin: 0px 0px 7px 0px;
  white-space: nowrap;
  text-decoration: none;
}

.headerTitle .headerDescription {
  font-size: 1.5vw;
  margin: 0;
  white-space: nowrap;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  color: white;
  font-style: 24px;
  padding: 10px;
  cursor: pointer;
}

.nav {
  padding: 0rem;
}

.navul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navLi {
  width: fit-content;
  text-align: center;
  border-radius: 0.162rem;
  background-color: #4195f0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 2%;
}

.a {
  font-size: 1.7vw;
  padding: 1vh 1vw;
  display: block;
  white-space: nowrap;
  /* prevent text wrapping */
  overflow: hidden;
  /* prevent text overflow */
  text-overflow: ellipsis;
  /* add ellipsis if text is too long */
  color: #fff;
  text-decoration: none;
}

.dropdownBtn {
  position: relative;
}
.dropContent {
  display:none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  background-color: rgb(65, 149, 240);
  min-width: 160px;
  z-index: 1;
  width: auto;
  border-radius: 0.172rem;
}

.dropContent li {
  text-align: left;
  margin: 0vh 0wh;
}
.dropContent .dropa {
  display: block;
  text-align: left;
  margin: 0%;
  padding: 2%;
  font-size: 4vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(211, 204, 204, 0.031);
}

@media (min-width: 1020px) { 
  .navpc{
    display: block;
  }
  .nav {
    display: none;
  }
  .nav .a:hover {
    color: black;
    background-color: rgba(239, 239, 239, 0.973);
  }
  .dropdownBtn:hover .dropContent {
    display: block;
  }
  .dropContent .a:hover {
    background-color: #ffffff;
    color: black;
    font-size: 4vh;
  }
}
@media (max-width: 768px) {
  .navpc{
    display: none;
  }

  .image {
    width: 9vw;
  }

  .headerTitle .headerBrand {
    font-size: 2vw;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 160px;
    transform: translateX(-100%);
    background-color: #333;
    padding-top: 60px;
    /* Adjust based on your button height */
  }

  .navOpen {
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
  }

  .menuButton {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    /* Width of the hamburger menu */
    height: 30px;
    /* Height of the hamburger menu */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 10px;
  }

  .bar {
    width: 100%;
    /* Full width of the hamburger menu */
    height: 5px;
    /* Thickness of the bars */
    background-color: black;
    /* Color of the bars */
    margin: 4px 0;
    /* Space between the bars */
    transition: 0.3s;
    /* Smooth transition for animations */
  }

  .menuButton:hover .bar {
    background-color: gray;
  }

  .navul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: fit-content;
    width: inherit;
  }

  .navLi {
    background-color: transparent;
    align-items: flex-start;
    margin-top: 0%;
    padding: 0%;
    width: inherit;

  }

  .Link {
    width: inherit;
  }

  .navLi .a {
    display: block;
    padding: 12px 7px;
    color: white;
    text-decoration: none;
    width: inherit;
    text-align: left;
    font-size: 92%;

  }

  .drop {
    position: relative;
    display: inline-block;
  }

  .dropico {
    display: block;
  }

  .dropClose {
    display: none;
  }
  .dropOpen {
    display: block;
    position: absolute;
    left: 100%;
    top: 0%;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .dropOpen li .a {
    padding: 10px 5px;
    color: white;
    text-decoration: none;
  }
  .navLi .a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(50, 179, 253);
  }

  .dropOpen li .a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(50, 179, 253);
    /* Change text color on hover */
  }

  .navLi:hover .dropOpen {
    display: block;
  }
}

/*
@media (max-width: 480px) {
  .image {
    width: 10vw;
  }

  .headerTitle .headerBrand {
    font-size: 2.5vw;
  }

  .headerTitle .p {
    font-size: 14px;
  }

  .nav .navul {
    justify-content: flex-end;
    padding-left: 35vw
  }

  .navLi {
    font-size: 2vw;
  }

  .navul .navLi .a {
    font-size: 2.5vw;
  }

}
*/
/*
.dropContent li {
   styles for the li elements inside the dropdown content ul
  margin-bottom: 10px;
}

.dropContent li:last-child {
  margin-bottom: 0;
}


.dropContent li {
  display: block;
}

.dropContent li a {
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.nav .a {
  color: #fff;
  font-size: 2vw;

}

.nav .a:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}


.header .nav a:last-child {
  margin-right: 0;
}

.nav .a[class*="active"] :hover {
  color: white;
  background-color: black;
  border: 1px solid black;
  text-decoration: underline;

}

.nav .a[class*="active"] {
  text-decoration: underline;
  color: black;

  background-color: white;
}
  
 */